{% extends "base.html" %}

{# Номер лабораторной работы: #}
{% block lab %}Лабораторная работа 5{% endblock %}

{# Основной контент: #}
{% block main %}
    <h1>База знаний</h1>
    <div>Тема лабораторной работы - База знаний. Список доступных страниц:</div>
    <div style="margin-top: 20px;">
        <a href="/lab5/list" class="btn">Список статей</a>
        <a href="/lab5/create" class="btn">Создать статью</a>
        <a href="/lab5/login" class="btn">Войти</a>
        <a href="/lab5/register" class="btn">Регистрация</a>
        <a href="/lab5/logout" class="btn">Выйти</a>
        <a href="/lab5/users" class="btn">Список пользователей</a>
    </div>

    <div style="margin-top: 20px;">
        <span>Имя пользователя: <strong>{{ session['login'] if session['login'] else 'Anonymous' }}</strong></span>
    </div>
{% endblock %}