{%extends "base.html"%}

{# номер ЛР:#}
{% block lab %}Лабораторная работа 2{% endblock %}

{# основной контент: #}
{% block main %}
    <ol>
        <li>"1984"</li>
        <ul>
            <li>Автор: Джордж Оруэлл - Жанр: Дистопия, Научная фантастика</li>
            <li>Количество страниц: 328</li>
        </ul>

        <li>"Убить пересмешника"</li>
        <ul>
            <li>Автор: Харпер Ли</li>
            <li>Жанр: Роман, Драма - Количество страниц: 281</li>
        </ul>

        <li>"Гордость и предубеждение"</li>
        <ul>
            <li>Автор: Джейн Остин, Жанр: Роман, Классика</li>
            <li>Количество страниц: 432</li>
        </ul>

        <li>"Мастер и Маргарита"</li>
        <ul>
            <li>Автор: Михаил Булгаков, Жанр: Роман, Фантастика</li>
            <li>Количество страниц: 448</li>
        </ul>

        <li>"Великий Гэтсби"</li>
        <ul>
            <li>Автор: Фрэнсис Скотт Фицджеральд, Жанр: Роман, Классика</li>
            <li>Количество страниц: 180</li>
        </ul>

        <li>"451 градус по Фаренгейту"</li>
        <ul>
            <li>Автор: Рэй Брэдбери, Жанр: Научная фантастика</li>
            <li>Дистопия - Количество страниц: 158</li>
        </ul>

        <li>"Сияние"</li>
        <ul>
            <li>Автор: Стивен Кинг - Жанр: Ужасы, Психологический триллер </li>
            <li>Количество страниц: 447</li>
        </ul>

        <li>"Преступление и наказание"</li>
        <ul>
            <li>Автор: Федор Достоевский - Жанр: Роман, Психологическая драма </li>
            <li>Количество страниц: 430</li>
        </ul>

        <li>"Маленький принц"</li>
        <ul>
            <li>Автор: Антуан де Сент-Экзюпери, Жанр: Фантастика, Детская литература  </li>
            <li>Количество страниц: 96</li>
        </ul>

        <li>"Война и мир"</li>
        <ul>
            <li>Автор: Лев Толстой, Жанр: Роман, Историческая проза  </li>
            <li>Количество страниц: 1225</li>
        </ul>
    </ol>
{%endblock%}