{% extends 'base.html' %}

{% block main %}
<h1>Редактировать статью</h1>
<form method="POST">
    <div class="form-group">
        <label for="title">Заголовок</label>
        <input type="text" name="title" class="form-control" value="{{ article.title }}" required>
    </div>
    <div class="form-group">
        <label for="content">Содержание</label>
        <textarea name="content" class="form-control" required>{{ article.article_text }}</textarea>
    </div>
    <button type="submit" class="btn btn-primary">Сохранить изменения</button>
</form>
{% endblock %}